<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Reset password</title>

  <link rel="stylesheet" th:href="@{/styles/loginStyle.css}">
</head>

<body>

<section>

  <div class="form-box">

    <div class="form-value">

      <form method="post"
            th:action="@{'/reset-password/' + ${resetToken}}"
            th:object="${resetPasswordDto}">

        <span id="login-element">Reset Password</span>
        <h3 class="error-resetPassword" th:if="${errorToken == true}">The link does not exist!</h3>
        <h3 class="error-resetPassword" th:if="${errorTokenTime == true}">The link has expired!</h3>
        <div class="inputbox" th:if="${errorToken == false && errorTokenTime == false}">

<!--            <ion-icon id="eye" name="eye-outline"></ion-icon>-->
          <input id="password" th:field="*{password}" type="password" required />
          <label for="password">New Password</label>
        </div>

        <div class="inputbox" th:if="${errorToken == false && errorTokenTime == false}" >

<!--            <ion-icon id="confirm" name="eye-outline"></ion-icon>-->
          <input id="confirmPassword" th:field="*{confirmPassword}" type="password" required />
          <label for="confirmPassword">Confirm Password</label>
        </div>
        <p class="text-danger" style="padding-bottom: 35px;width: 300px" th:errors="*{password}"></p>
        <p class="text-danger" style="padding-bottom: 35px" th:if="${errorPassword == true}">Incorrect password!</p>

        <button type="submit" th:if="${errorToken == false && errorTokenTime == false}" >Save</button>
        <a th:href="@{/login}" th:unless="${errorToken == false && errorTokenTime == false}"><button type="button" >Back to Login</button></a>

      </form>
    </div>

  </div>

</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    const eye = document.getElementById('eye');
    eye.addEventListener('click', function() {
        if (eye.getAttribute('name')=== 'eye-outline'){
            eye.setAttribute('name', 'eye-off-outline');
            document.getElementById('password').setAttribute('type','text');
        }else {
            eye.setAttribute('name', 'eye-outline');
            document.getElementById('password').setAttribute('type','password');
        }
    });

    const confirm = document.getElementById('confirm');
    confirm.addEventListener('click', function() {
        if (confirm.getAttribute('name')=== 'eye-outline'){
            confirm.setAttribute('name', 'eye-off-outline');
            document.getElementById('confirmPassword').setAttribute('type','text');
        }else {
            confirm.setAttribute('name', 'eye-outline');
            document.getElementById('confirmPassword').setAttribute('type','password');
        }
    });
</script>

</body>

</html>



