
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Movie-view</title>
    <th:block th:insert="fragment/head" />

</head>
<body>
<div class="container-scroller">
    <!--navbar-->
    <th:block th:insert="fragment/navbar" />
    <!--container-->
    <div class="container-fluid page-body-wrapper">
    <!--theme wrapper-->
        <th:block th:insert="fragment/themewrapper" />
    <!--right side bar-->
        <th:block th:insert="fragment/rightsidebar" />
    <!-- side bar offcanvas-->
        <th:block th:insert="fragment/sidebaroffcanvas" />
    <!-- main panel-->
        <div class="main-panel">
        <!--content-->
            <div class="content-wrapper">
            <!--row-->
                <div class="row">
                    <div class="col">
                        <div class="home-tab">
                <!--tab list-->
                            <th:block th:insert="fragment/tablist" />
                            <div class="tab-content tab-content-basic">
                                <div class="card" style="border-radius: 20px">
                                    <div class="card-body">
                                        <h4 class="card-title">Member List</h4>

                                        <!--    modal confirm delete-->
                                        <div class="modal"  id="deleteConfirm"  role="dialog"></div>

                                        <!--    result action-->
                                        <div th:id="result" th:if="${result}">
                                            <div class="px-4 py-4 d-flex justify-content-between" style="background-color: #00f700">
                                                <div th:text="${result}"></div>
                                                <button onclick="display()" class="text-danger">X</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Member Id</th>
                                                    <th>Full Name</th>
                                                    <th>Address</th>
                                                    <th>Email</th>
                                                    <th>Date of birth</th>
                                                    <th>Phone</th>
                                                    <th>Gender</th>
                                                    <th>Card Id</th>
                                                    <th>Point</th>
                                                    <th>Experience</th>
                                                    <th>Rank</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr style="height: 69px;" th:each="e,i : ${memberDtos}">
                                                    <td th:text="${i.count + page*size}"></td>
                                                    <td th:text="${e.memberId}"></td>
                                                    <td >
                                                        <p style="width: 200px;white-space: break-spaces; word-wrap: break-word;margin: 0;" th:text="${e.fullName}"></p>
                                                    </td>
                                                    <td th:text="${e.address}"></td>
                                                    <td th:text="${e.email}"></td>
                                                    <td th:text="${e.dateOfBirth}"></td>
                                                    <td th:text="${e.phone}"></td>
                                                    <td th:text="${e.gender}"></td>
                                                    <td th:text="${e.pointCardId}"></td>
                                                    <td th:text="${e.point}"></td>
                                                    <td th:text="${e.experience}"></td>
                                                    <td th:text="${e.ranks}"></td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--            paging-->
                                        <nav style="margin-top: 18px"  aria-label="Page navigation example" th:if="${totalPage > 1}">
                                            <ul class="pagination">



                                                <!-- First button-->
                                                <li class="page-item" th:if="${page} - 3 > 0">
                                                    <a class="page-link" th:href="@{/members(page = 0, size=${size}, q=${keyword})}" th:text="'First'"></a>
                                                </li>
                                                <!--check button previous-->
                                                <li th:classappend="${page} <= 0 ? 'disabled page-item' : 'page-item'">
                                                    <a class="page-link" th:href="@{/members(page = ${page -1}, size=${size}, q=${keyword})}" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="fas fa-angle-left"></i>&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item" th:if="${page} - 3 > 0"><span class="page-link"> ... </span></li>

                                                <!--total page <= 5   -->
                                                <li class="page-item" th:if="${totalPage <= 5}" th:each="i : ${#numbers.sequence(0,totalPage - 1)}">
                                                    <a class="page-link" th:style="${i == page} ? 'background-color: #0d6efd; color: white'" th:href="@{/members(page = ${i}, size=${size}, q=${keyword})}" th:text="${i+1}"></a>
                                                </li>

                                                <!-- total page > 5 and page number < 2-->
                                                <li class="page-item" th:if="${totalPage > 5 && page < 2}" th:each="i : ${#numbers.sequence(0,4)}">
                                                    <a class="page-link" th:style="${i == page} ? 'background-color: #0d6efd; color: white'" th:href="@{/members(page = ${i}, size=${size}, q=${keyword})}" th:text="${i+1}"></a>
                                                </li>

                                                <!-- total page > 5 and page number >=2 and page < total page - 2 -->
                                                <li class="page-item" th:if="${totalPage > 5 && page >= 2 && page < totalPage - 2}" th:each="i : ${#numbers.sequence(0,4)}">
                                                    <a class="page-link" th:style="${i == 2} ? 'background-color: #0d6efd; color: white'" th:href="@{/members(page = ${page - 2 + i}, size=${size}, q=${keyword})}" th:text="${page - 1 + i}"></a>
                                                </li>

                                                <!-- total page > 5 and page number >=2 and page >= total page - 2 -->
                                                <li class="page-item" th:if="${totalPage > 5 && page >= 2 && page >= totalPage - 2}" th:each="i : ${#numbers.sequence(totalPage - 5, totalPage - 1)}">
                                                    <a class="page-link" th:style="${i == page} ? 'background-color: #0d6efd; color: white'" th:href="@{/members(page = ${i}, size=${size}, q=${keyword})}" th:text="${i+1}"></a>
                                                </li>



                                                <!--check button next-->
                                                <li class="page-item" th:if="${page + 4 <= totalPage - 1}"><span class="page-link"> ... </span></li>

                                                <li th:if="${totalPage > 0}" th:class="(${page} >= (${totalPage}-1)) ? 'disabled page-item' : 'page-item'">
                                                    <a class="page-link" th:href="@{/members(page = ${page +1}, size=${size}, q=${keyword})}" aria-label="Next">
                                                        <span aria-hidden="true"><i class="fas fa-angle-right"></i>&raquo;</span>
                                                    </a>
                                                </li>
                                                <!--last button-->
                                                <li class="page-item" th:if="${page + 4 <= totalPage - 1}">
                                                    <a class="page-link" th:href="@{/members(page = ${totalPage -1}, size=${size}, q=${keyword})}" th:text="'Last'"></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!--footers-->
        <th:block th:insert="fragment/footers" />

        </div>
        <!-- main panel ends -->
    </div>
    <!-- page body wrapper ends -->
</div>
<!-- container scroller -->

<script th:inline="javascript">

    const myTimeout = setTimeout(display, 5000);

    function display(){
        const x = document.getElementById("result");
        if(x){
            x.style.display = "none";
        }
    }
    function confirmDelete(id,pageNumber,size,q){
        const doc = document.getElementById("deleteConfirm");
        doc.style.display='block';
        doc.innerHTML=
            `<div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="displayNone()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">Certificate will be Deleted</p>
                        <p><b>ARE YOU SURE ?</b></p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="displayNone()">Close</button>
                    <button type="button" class="btn btn-danger" >

                        <a style="text-decoration: none; color: white" href="/manage-cinema/employee/admin/delete/${id}?pageNumber=${pageNumber}&size=${size}&q=${q}">
                            Confirm Delete
                        </a>
                    </button>
                    </div>
                </div>
        </div>`
    }
    function displayNone(){
        const doc = document.getElementById("deleteConfirm");
        doc.style.display='none';
    }


</script>

</body>

</html>

