<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee-Form</title>
</head>
<title>Document</title>
<th:block th:insert="fragment/head" />
</head>
<body>
<div class="container-scroller">
    <!--navbar-->
    <th:block th:insert="fragment/navbar" />
    <!--container-->
    <div class="container-fluid page-body-wrapper">
        <!--theme wrapper-->
        <th:block th:insert="fragment/themewrapper" />
        <!--right side bar-->
        <th:block th:insert="fragment/rightsidebar" />
        <!-- side bar offcanvas-->
        <th:block th:insert="fragment/sidebaroffcanvas" />
        <!-- main panel-->
        <div class="main-panel">
            <!--content-->
            <div class="content-wrapper">
                <!--row-->
                <div class="row">
                    <div class="col grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <p class="card-description">
                                    Add Employee
                                </p>
                                <form th:action="@{${employeeFormDto.getEmployeeId() == null ? '/employee/admin/add' : '/employee/update/'+ employeeFormDto.getEmployeeId()}}"
                                      enctype="multipart/form-data"
                                      th:object="${employeeFormDto}" method="POST">
                                    <input name="employeeId" hidden th:value="${employeeFormDto.getEmployeeId()}">

                                    <!-- full name-->
                                    <div class="form-group" >
                                        <label for="fullName">Full Name<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="fullName" placeholder="Enter full name" th:field="*{fullName}"/>
                                        <p class="text-danger" th:errors="*{fullName}"></p>
                                    </div>

                                    <!--    password-->
                                    <div class="form-group" th:if="${employeeFormDto.getEmployeeId() == null}">
                                        <label for="password">Password<span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="password" placeholder="Enter password" th:field="*{password}"/>
                                        <p class="text-danger" th:errors="*{password}"></p>
                                    </div>

                                    <!--    re-password-->
                                    <div class="form-group" th:if="${employeeFormDto.getEmployeeId() == null}">
                                        <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="confirmPassword" th:field="*{rePassword}" placeholder="Confirm password"/>
                                        <p class="text-danger" th:errors="*{rePassword}"></p>
                                    </div>

                                    <!-- Date of birth -->
                                    <div class="form-group">
                                        <label for="dateOfBirth">Date Of Birth</label>
                                        <input type="date" class="form-control" id="dateOfBirth" placeholder="Date of birth" th:field="*{dateOfBirth}"/>
                                        <p class="text-danger" th:errors="*{dateOfBirth}"></p>
                                    </div>
                                    <!-- Gender -->
                                    <div class="form-group">
                                        <label for="male">Male</label>
                                        <input type="radio" name="gender"
                                               th:disabled="${employeeFormDto.employeeId != null && employeeFormDto.gender != null && !employeeFormDto.gender.toString().equalsIgnoreCase('MALE')}"
                                               th:selected="${employeeFormDto.gender != null && employeeFormDto.gender.toString().equalsIgnoreCase('MALE')}"  id="male" value="MALE" th:field="*{gender}" />
                                        <label for="female">Female</label>
                                        <input type="radio" name="gender"
                                               th:disabled="${employeeFormDto.employeeId != null && employeeFormDto.gender != null && !employeeFormDto.gender.toString().equalsIgnoreCase('FEMALE')}"
                                               th:selected="${employeeFormDto.gender != null && employeeFormDto.gender.toString().equalsIgnoreCase('FEMALE')}" id="female" value="FEMALE" th:field="*{gender}"/>
                                        <p class="text-danger" th:errors="*{gender}"></p>
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" th:readonly="${employeeFormDto.getEmployeeId()!= null}" id="email" placeholder="Enter email" th:field="*{email}"/>
                                        <p class="text-danger" th:errors="*{email}"></p>
                                    </div>
                                    <!-- address -->
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" placeholder="Enter address" th:field="*{address}"/>
                                        <p class="text-danger" th:errors="*{address}"></p>
                                    </div>
                                    <!-- phone -->
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone" placeholder="Enter phone number" th:field="*{phone}"/>
                                        <p class="text-danger" th:errors="*{phone}"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="role">Role<span class="text-danger">*</span></label>
                                        <select class="form-select" id="role"  th:disabled="${role !='ADMIN' && employeeFormDto.getEmployeeId() != null}" th:field="*{role}">
                                            <option th:each="roleEnum : ${T(fa.training.movietheater_mockproject.enums.Role).values()}"
                                                    th:value="${roleEnum}"
                                                    th:text="${roleEnum}"
                                                    th:selected="${roleEnum == employeeFormDto.role}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cinema">Cinema</label>
                                        <select class="form-select" id="cinema" th:field="*{cinemaId}">
                                            <option th:each="c : ${cinemas}"
                                                    th:value="${c.cinemaId}"
                                                    th:text="${c.cinemaName}"
                                                    th:selected="${ employeeFormDto.cinemaId == c.cinemaId}"
                                                    th:disabled="${employeeFormDto.employeeId != null && employeeFormDto.cinemaId != c.cinemaId && role!='ADMIN'}"
                                            >
                                            </option>
                                        </select>
                                    </div>
                                    <!-- Img small -->
                                    <div class="form-group">
                                        <label class="form-label" for="imgSmall">Img small</label>
                                        <input th:type="file" th:field="*{avatar}" class="form-control" id="imgSmall" style="height:43px;"/>
                                    </div>
                                    <!--    modal confirm -->
                                    <div class="form-group">

                                        <!-- Button trigger modal -->
                                        <button id="modal-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                            Confirm
                                        </button>

                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div id="modal-body" class="modal-body">
                                                    <p>Are you sure ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                                        <a type="button" class="btn btn-danger text-white" data-dismiss="modal">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="reset" class="btn btn-danger">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footers-->
            <th:block th:insert="fragment/footers" />
        </div>
        <!-- main panel ends -->
    </div>
    <!-- page body wrapper ends -->
</div>
<!-- container scroller -->

<script th:inline="javascript">
    function confirmAction(id){
        const doc = document.getElementById("confirm");
        doc.style.display = 'block';
        doc.innerHTML =
            `<div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="content-header" class="modal-title">Confirm Update employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="displayNone()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="content-line" class="text-danger">Confirm Update employee</p>
                        <p><b>ARE YOU SURE ?</b></p>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="displayNone()">Close</button>
                    </div>
                </div>
        </div>`
        if (id === "null"){
            document.getElementById("content-header").innerText= "Confirm add new employee"
            document.getElementById("content-line").innerText= "Confirm add new employee"
        }
    }
    function displayNone(){
        const doc = document.getElementById("confirm");
        doc.style.display= 'none';
    }</script>
</body>
</html>
