
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Room-view</title>
    <th:block th:insert="fragment/head" />
    <link rel="stylesheet" th:href="@{/styles/animation.css}">
</head>
<body>
<div class="container-scroller">

    <!--navbar-->
    <th:block th:insert="fragment/navbar" />
    <!--container-->
    <div class="container-fluid page-body-wrapper">
        <!--theme wrapper-->
        <th:block th:insert="fragment/themewrapper" />
        <!--right side bar-->
        <th:block th:insert="fragment/rightsidebar" />
        <!-- side bar offcanvas-->
        <th:block th:insert="fragment/sidebaroffcanvas" />
        <!-- main panel-->
        <div class="main-panel">
            <!--content-->
            <div class="content-wrapper">
                <!--row-->
                <div class="row">
                    <div class="col">
                        <div class="home-tab">
                            <!--tab list-->
                            <th:block th:insert="fragment/tablist" />
                            <div class="tab-content tab-content-basic">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Room List</h4>
                                        <!--    result action-->
                                        <div onclick="display()" id="result"
                                             th:class="${result == 'Room in use cannot be deleted!' ? 'alert alert-danger' : 'alert alert-success'}"
                                             style="width: fit-content"
                                             role="alert"
                                             th:if="${result != null || param.message != null}"
                                             th:text="${result != null ? result : param.message}"
                                        >
                                        </div>


                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Room Name</th>
                                                    <th>Seat Quantity</th>
                                                    <th>Status</th>
                                                    <th>Cinema Name</th>
                                                    <th>Room Type </th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="room,i : ${roomDetailDtos}">
                                                    <td th:text="${i.count + page*size}"></td>
                                                    <td >
                                                        <p style="width: 200px;white-space: break-spaces; word-wrap: break-word;margin: 0;" th:text="${room.roomName}"></p>
                                                    </td>
                                                    <td>
                                                        <a class="text-decoration-none" th:href="@{'/admin/room/seat/'+${room.roomId}}" th:text="${room.seatQuantity}"></a>
                                                    </td>
                                                    <td th:text="${room.status ? 'Active' : 'In-Active'}"></td>
                                                    <td th:text="${room.cinemaName}"></td>
                                                    <td th:text="${room.roomTypeName}"></td>
                                                    <td>
                                                        <a th:href="@{'/admin/room/update/'+${room.roomId}}"><ion-icon name="create-outline" class="btn btn-warning m-0 text-decoration-none"></ion-icon></a>
                                                        <a class="btn btn-danger m-0 " data-toggle="modal" th:attr="data-target='#myModal' + ${room.getRoomId()}"><ion-icon name="trash-outline"></ion-icon></a>
                                                    </td>
                                                    <!-- Modal -->
                                                    <div class="modal fade" th:attr="id='myModal' + ${room.getRoomId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="text-danger">Room will be Deleted</p>
                                                                    <p><b>ARE YOU SURE ?</b></p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a type="button" class="btn btn-danger text-white" th:href="@{'/admin/room/delete/'+${room.getRoomId()}}" style="margin: 3px;
    width: 22%;
    height: 43px;
    font-size: 17px;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;"
                                                                    >Yes</a>
                                                                    <a type="button" class="btn btn-primary text-white" data-dismiss="modal" style="margin: 3px;
    width: 22%;
    height: 43px;
    font-size: 17px;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;"
                                                                    >No</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <nav  style="margin-top: 18px"  aria-label="Page navigation example" th:if="${totalPage > 1}">
                                            <ul class="pagination">
                                                <!-- First button-->
                                                <li class="page-item" th:if="${page} - 3 > 0">
                                                    <a class="page-link" th:href="@{/admin/room(page = 0, size=${size}, q=${keyword})}" th:text="'First'"></a>
                                                </li>
                                                <!--check button previous-->
                                                <li th:classappend="${page} <= 0 ? 'disabled page-item' : 'page-item'">
                                                    <a class="page-link" th:href="@{/admin/room(page = ${page -1}, size=${size}, q=${keyword})}" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="fas fa-angle-left"></i>&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item" th:if="${page} - 3 > 0"><span class="page-link"> ... </span></li>

                                                <!--total page <= 5   -->
                                                <li class="page-item" th:if="${totalPage <= 5}" th:each="i : ${#numbers.sequence(0,totalPage - 1)}">
                                                    <a class="page-link" th:style="${i == page} ? 'background-color: #0d6efd; color: white'" th:href="@{/admin/room(page = ${i}, size=${size}, q=${keyword})}" th:text="${i+1}"></a>
                                                </li>

                                                <!-- total page > 5 and page number < 2-->
                                                <li class="page-item" th:if="${totalPage > 5 && page < 2}" th:each="i : ${#numbers.sequence(0,4)}">
                                                    <a class="page-link" th:style="${i == page} ? 'background-color: #0d6efd; color: white'" th:href="@{/admin/room(page = ${i}, size=${size}, q=${keyword})}" th:text="${i+1}"></a>
                                                </li>

                                                <!-- total page > 5 and page number >=2 and page < total page - 2 -->
                                                <li class="page-item" th:if="${totalPage > 5 && page >= 2 && page < totalPage - 2}" th:each="i : ${#numbers.sequence(0,4)}">
                                                    <a class="page-link" th:style="${i == 2} ? 'background-color: #0d6efd; color: white'" th:href="@{/admin/room(page = ${page - 2 + i}, size=${size}, q=${keyword})}" th:text="${page - 1 + i}"></a>
                                                </li>

                                                <!-- total page > 5 and page number >=2 and page >= total page - 2 -->
                                                <li class="page-item" th:if="${totalPage > 5 && page >= 2 && page >= totalPage - 2}" th:each="i : ${#numbers.sequence(totalPage - 5, totalPage - 1)}">
                                                    <a class="page-link" th:style="${i == page} ? 'background-color: #0d6efd; color: white'" th:href="@{/admin/room(page = ${i}, size=${size}, q=${keyword})}" th:text="${i+1}"></a>
                                                </li>
                                                <!--check button next-->
                                                <li class="page-item" th:if="${page + 4 <= totalPage - 1}"><span class="page-link"> ... </span></li>

                                                <li th:if="${totalPage > 0}" th:class="(${page} >= (${totalPage}-1)) ? 'disabled page-item' : 'page-item'">
                                                    <a class="page-link" th:href="@{/admin/room(page = ${page +1}, size=${size}, q=${keyword})}" aria-label="Next">
                                                        <span aria-hidden="true"><i class="fas fa-angle-right"></i>&raquo;</span>
                                                    </a>
                                                </li>
                                                <!--last button-->
                                                <li class="page-item" th:if="${page + 4 <= totalPage - 1}">
                                                    <a class="page-link" th:href="@{/admin/room(page = ${totalPage -1}, size=${size}, q=${keyword})}" th:text="'Last'"></a>
                                                </li>


                                            </ul>
                                        </nav>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!--            paging-->


            <!--footers-->
            <th:block th:insert="fragment/footers" />

        </div>
        <!-- main panel ends -->
    </div>
    <!-- page body wrapper ends -->
</div>
<!-- container scroller -->

<script th:inline="javascript">

    const myTimeout = setTimeout(display, 5000);

    function display(){
        const x = document.getElementById("result");
        if(x){
            x.style.display = "none";
        }
    }

    const alertDiv = document.getElementById('result');
    alertDiv.style.animation = "slideDown 2s ease-in-out";

</script>

</body>

</html>

